@CHARSET "UTF-8";

.menuPosContainer{
	clear: left;
}
	.menuPos{
		width: 120px;
		height: 80px;
		background-color: red;
	}
	
	.menuPosA{
		float: left;
	}
	
	.menuPosSubMenu{
		background-color: grey;
		float: left;
	}
	
	.menuPosActions{
		display; none;
		position: absolute;
		width: 20px;
		height: 20px;
		background-color: green;
		right: 0px;
		display: none;
	}

.menuPosHidden{
	display: none;
}

.menuActionsDiv{
	position: absolute;
	margin-top: 0px;
	margin-left: 24px;
	width: 0px;
	overflow: hidden;
}

.menuPosAdd{
	text-align: center;
	width: 15px;
	background-color: red;
	display: none;
}

.menuPosColor{
	display; none;
	
	width: 20px;
	height: 20px;
	background-color: green;
	display: none;
}

.menuPosVis{
	display; none;
	width: 20px;
	height: 20px;
	background-color: yellow;
	display: none;
}

.menuPosDel{
	display; none;
	width: 20px;
	height: 20px;
	background-color: green;
	display: none;
}



.menuPosDragOver{
	height: 5px;
}

/*rm menu*/
.menu_rm_div{
	position: absolute;
	background-color: green;
}